<%# 下部広告部分 %>
<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    だれでもかんたん購入、あなたのそばに
  </p>
  <h2 class='ad-footer-title'>
    SHARARA CIRCUS
  </h2>
  <div class='store-btn'>
    <%= link_to image_tag("twitter.png", class:"apple-btn"), "#" %>
    <%= link_to image_tag("instagram.png", class:"instagram-btn"), "#" %>
  </div>
</div>
<%# //下部広告部分 %>

<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>SHARARA CIRCUSについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'SARARA CIRCUS利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'ポイントに関する特約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>商品を見る</h2>
      <ul>
        <li><%= link_to 'カテゴリ一覧', "#", class: "footer-link" %></li>
        <li><%= link_to 'ブランド一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>SHARAR CIRCUSについて</h2>
      <ul>
        <li><%= link_to 'SARARA CIRCUSガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'SARARA CIRCUSロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%= link_to image_tag("furima-logo-white.png", class:"logo-white"), "#" %>
  <p>©SHARARA CIRCUS</p>
</div>